* {
  padding: 0;
  margin: 0;
}
html,
body {
  touch-action: none;
  touch-action: pan-x pan-y;
  background-color: #2f3131;
  /* background-color: rgb(245, 237, 222); */
  /* background-image: url("./assets/bg.png");
  background-size: 80%;
  background-position-y: 10px;
  background-position-x: 10px;
  background-repeat: repeat; */
}

body {
  margin: 0;
  display: block;
  place-items: center;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
}
